body







.PicContainer{
    display: flex;
    align-items: center;
    padding: 5px;
    border: 4px solid rgb(0, 0, 0);
    border-radius: 30px;
    background-color: #eeeeee;
    max-width:500px;
}








.Story{
    overflow-y: scroll; 
    height: 200px;
    max-width: 800px;
    margin-top: 5px;
    padding: 10px;
    border: 4px solid rgb(0, 0, 0);
    border-radius: 10px;
    background-color: #ffffb6;
    display: flex;
    flex-direction: column;
}



.Story-1{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 5px;
    border-radius: 15px;
    background-color: rgba(224, 42, 42, 0.232);

}


.Story::-webkit-scrollbar-thumb{
    background-color: #fff87b;
    border-radius: 5px;
}

.Story::-webkit-scrollbar{
    width: 8px;
}


.Story-img1{
    margin-top: -30px;
    margin-right: 10px;
    width: 250px;
    border: 4px solid rgb(255, 247, 101);
    border-radius: 10px;
}

.Story1-text-Container{
    min-height: 12em;
    font-family: 'Kanit', sans-serif;
    vertical-align: top;
}


.Story1-h{
    margin: 0;
    margin-top: 0;
    align-items: center
}

.Story1-info-tag{
    width: 75%;
    margin-top: 1px;
    margin-bottom: 2px;
    border: 1px solid #889ce0;
    border-radius: 5px;
    background-color: rgb(149, 186, 255);
    padding-left: 5px;
    padding-right: 5px;
    color: #0e1233;
}








.Story-2{
    margin-top: 10px;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 15px;
    background-color: rgba(214, 58, 58, 0.192);
}


.Story-img2{
    margin-right: 10px;
    width: 250px;
    border: 4px solid rgb(255, 247, 101);
    border-radius: 10px;
}

.Story2-text-Container{
    min-height: 12em;
    font-family: 'Kanit', sans-serif;
    vertical-align: top;
}


.Story2-h{
    margin: 0;
    margin-top: 10px;
    align-items: center
}

.Story2-info-tag{
    margin-top: 1px;
    margin-bottom: 2px;
    border: 1px solid #889ce0;
    border-radius: 5px;
    background-color: rgb(149, 186, 255);
    padding-left: 5px;
    padding-right: 5px;
    color: #0e1233;
}






.Story-3{
    font-family: 'Kanit', sans-serif;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
    border-radius: 15px;
    background: linear-gradient(to right, #ffcc00, #ff6666);
}

.Story3-h{
    text-align: center;
    font-size: 20px;
    margin-top: 2px;   
    margin-bottom: 5px;
}

.Proposition-block{
    background-color: rgba(255, 255, 255, 0.273);
    border-radius: 15px;

}


.Proposition{
    align-items: start;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.Proposition-span{
    color: rgb(59, 143, 14);
}


.buy-button {
    background-color: green;
    color: white;
    padding: 8px 1px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 100px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
  }
  
  .buy-button.clicked {
    background-color: yellow;
    color: black;
  }











.pfp{
    border-radius: 50%;
    margin-right: 30px;
}

.text-container{
    display: flex;
    flex-direction: column;
    align-items: center

}

.hPfp{
    margin: 0;
    font-family: 'Kanit', sans-serif;
}

.petrovich-info{
    font-weight: bold;
    padding: 10px;
    border: 3px solid #7b6a6a;
    border-radius: 10px;
    background-color: rgb(202, 202, 202);
    max-width: 250px;
}

.mark-image{
    margin-top: 10px;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    float: right;
}